.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    /*background-color: #02203d;*/
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.links:hover{
color: green;
transition: 0.5s;
}
ul li:active{
    text-decoration: underline;
    color: green;
}
.logo{
    margin-right: 5em;
}
.links{
    text-decoration: none;
    color: white;
    margin-left: 2em;
    font-weight: 500;
    cursor: pointer;
}