.App{
    background-color: #05192d;
    color: white;
    font-family: "Studio-Feixen-Sans", Arial;
    font-size: large;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    
}
.App button{
    background-color: green;
}